body{
    background-color: rgba(141, 173, 145, 0.767);
}
input{
    width: 200px;
    height: 50px;
    border: 2px;
    border-style: solid;
    border-color: black;
    margin-bottom: 1px;
    text-align: center;
    font-size: 15px;
}
#nome{
    display: flex;
    margin-left: 30px;
}
#nome1{
    margin-right: 10px;
}
#bloco1{
    display: flex;
}
#nome11{
    display: flex;
    margin-left: 30px;
}
#nome2{
    margin-right: 10px;
}
#nome111{
    display: flex;
    margin-left: 30px;
}
#nome3{
    margin-right: 10px;
}
#hospedagem{
    background-color: rgba(176, 219, 180, 0.767);
    margin-left: 40px;
    padding-left: 20px;
    padding-right: 209.95px;
    width: fit-content;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
}
h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#nome4{
    margin-right: 10px;
}
#bloco2{
    display: flex;
}
#nome22{
    display: flex;
    margin-left: 30px;
}
#nome5{
    margin-right: 10px;
}
#nome222{
    display: flex;
    margin-left: 30px;
}
#nome6{
    margin-right: 10px;
}
#financeiro{
    background-color: rgba(176, 219, 180, 0.767);
    margin-left: 40px;
    padding-left: 20px;
    padding-right: 40px;
    width: fit-content;
}
th{
    border: 2px;
    border-style: solid;
    border-color: black;
    background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
table{
    margin-top: 20px;
    margin-left: 60px;
}
h2{
    margin-left: 15px;
    margin-top: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
}
#quarto{
    background-color: rgba(176, 219, 180, 0.767);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-left: 40px;
    padding-right: 290px;
    width: 1000px;

}
h4{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 6px;
    margin-bottom: 0px;
}
#corpo{
    margin-top: 10%;
    margin-left: 14%;
}
#q04{
    background-color: rgb(255, 0, 0);
}